<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>debatree</display-name>
	<listener>
		<listener-class>com.debatree.main.DebatreeMain</listener-class>
	</listener> 
	
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.debatree.main.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- 	<servlet> -->
<!-- 		<servlet-name>mgr</servlet-name> -->
<!-- 		<jsp-file>/mgr/index.jsp</jsp-file> -->
<!-- 	</servlet> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>mgr</servlet-name> -->
<!-- 		<url-pattern>/mgr</url-pattern> -->
<!-- 	</servlet-mapping> -->

	
   
</web-app>